<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Friends</ion-title>
        <ion-buttons slot="end">
            <ion-button routerLink="./add-friend">
              <ion-icon name="add-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios">
    <ion-searchbar class="ion-padding-start"></ion-searchbar>

    <ion-list>
        <ion-item>
            <ion-avatar slot="start">
                <img src="https://www.clipartkey.com/mpngs/m/107-1076987_user-staff-man-profile-person-icon-circle-png.png">
            </ion-avatar>
            <ion-label>Nataya</ion-label>
        </ion-item>
    </ion-list>


    

</ion-content>
